* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    width: 1400px;
    font-size: 18px;
    margin left: 72px;
    margin right: 72px;

}


.list1 {
    display: inline-block;
    padding: 35px;
    color: black
}

nav {
    display: flex;
    justify-content: center;
}

.header-navigation-list {
    width: fit-content;
    padding: 0px;
    font-weight: 600;
 
}



.content-div {
    width: 856px;
}

h2 {
    margin-top: 88px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;

}

#link1 {
    color: #04959E
}

p {
    width: 856px;
    margin-left: 300px;
    margin-bottom: 38px;
    font-size: 21px;
    font-weight: 500;
}

.secondary {
    margin-bottom: 40px;
}

.list2 {

    margin-left: 320px;
    font-size: 18px;
    width: 856px;
    font-weight: 400;
}

#toplist2 {
    margin-top: 24px;
}

#bottomlist2 {
    padding-bottom: 40px;
}

.button {
    color: white;
    background-color: #04959E;
    border: 2px solid #04959E;
    /* зробив так, бо рамка не хотіла прибиратися */
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    margin-left: 650px;
    margin-bottom: 88px;
}

.hr1 {
    margin-bottom: 16px;
}

#footertext {
    margin-bottom: 16px;
    margin-left: 640px;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}